
{% block head %}
    {% block title %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block styles -%}
        {{ bootstrap.load_js() }}
        {{ bootstrap.load_css() }}

        <script src="{{ url_for('static',filename='js/myjs.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/all.min.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/mystyle.css') }}"/>
    {% endblock styles %}
{% endblock head %}

{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">AngYi</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link my-font-h2" aria-current="page" href='{{ url_for('index.welcome') }}'>首页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link my-font-h2" aria-current="page" href="/categories">分类</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link my-font-h2" href="#" aria-current="/about" >关于我</a>
                    </li>
                </ul>
            </div>
             <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="d-flex" style="margin-bottom: 0px">
                            <input  class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <!--        <button class="btn btn-outline" type="submit">Search</button>-->
                        </form>
                    </li>
                    <li>
                        {% if user %}
                            <a href={{ url_for('user.login') }}><button type="button" class="btn btn-dark navbar-btn">{{ user.username }}</button></a>
                        {% else %}
                            <a href={{ url_for('user.login') }}><button type="button" class="btn btn-dark navbar-btn">登陆</button></a>
                        {% endif %}
                    </li>
                    <li>
                        {% if user %}
                            <a href={{ url_for('user.logout') }}><button type="button" class="btn btn-dark navbar-btn">退出</button></a>
                            <a href={{ url_for('article.publish_article') }}><button type="button" class="btn btn-dark navbar-btn">发表博文</button></a>
                        {% else %}
                            <a href={{ url_for('user.register') }}><button type="button" class="btn btn-dark navbar-btn" onclick="">注册</button></a>
                        {% endif %}
                    </li>
                </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}


    {% block footer %}
    <!-- footer -->
    <footer class="bg-dark text-center text-white col-12">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="fa fa-facebook-f"></i
                ></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="fa fa-twitter"></i
                ></a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="fa fa-google"></i
                ></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="fa fa-instagram"></i
                ></a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="fa fa-github"></i
                ></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">AngYi.online</a>
        </div>
        <!-- Copyright -->
    </footer>
    {% endblock %}

    {% block scripts %}
        <script>
            var time = document.getElementById("time_now");
            var today = new Date();
            time.innerHTML=showLocale(today);
            window.setTimeout("tick()", 1000);
        </script>
    {% endblock %}
{% endblock %}


{##}
{#{% block body %}#}
{#{{ super() }}#}
{#{{ moment.include_moment() }}#}
{#{{ moment.locale('zh-cn')}}#}
{#{% endblock %}#}

