
{% block title %}首页{% endblock %}
{{ bootstrap.load_js() }}
{{ bootstrap.load_css() }}
{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="my-font-h1 navbar-brand" href="/">AngYi</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link my-font-h2" aria-current="page" href="/index">首页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link my-font-h2" aria-current="page" href="/categories">分类</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link my-font-h2" href="#" aria-current="/about" >关于我</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2 offset-7" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn " type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
{% endblock %}