{% extends 'base.html' %}
{% block title%}Index{% endblock %}
{% block head %}
{{ super() }}
{% endblock head%}


{% block body %}
{{super()}}
    <a href={{ url_for('user.user_register') }}>注册</a>
    <a href={{ url_for('user.user_login') }}>登陆</a>
<h1>Hello 用户中心 Page</h1>
    <hr>
<h1>所有用户信息如下</h1>
    {% if users %}
<table border="1" cellspacing="0" width="50%">
<tr>
    <th>序号</th>
    <th>用户名</th>
    <th>邮箱</th>
</tr>
    {% for user in users %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock body%}